body {
  background-color: lightblue;
  margin:0;
  padding:0;
  height: 100%;
}

div.header {
  position: relative;
  height: 50px;
  background-color: white;


}

hr {
  margin-top: 0px;
  width: 100%;
}



}
div.Screenplay {
}
